USE [master]
GO
/****** Object:  Database [Camin]    Script Date: 8/28/2021 1:43:39 PM ******/
CREATE DATABASE [Camin]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Camin', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Camin.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Camin_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Camin_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Camin].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Camin]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 8/28/2021 1:43:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NumeUtilizator] [nvarchar](50) NOT NULL,
	[Parola] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Admin] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Camera]    Script Date: 8/28/2021 1:43:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Camera](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Numar] [int] NOT NULL,
	[IDCamin] [int] NOT NULL,
 CONSTRAINT [PK_Camera] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Camin]    Script Date: 8/28/2021 1:43:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Camin](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Numar] [int] NOT NULL,
	[Taxa] [float] NOT NULL,
 CONSTRAINT [PK_Camin] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Facultate]    Script Date: 8/28/2021 1:43:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Facultate](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nume] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Facultate] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Plata]    Script Date: 8/28/2021 1:43:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Plata](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Suma] [float] NOT NULL,
	[Luna] [nvarchar](50) NOT NULL,
	[IDStudent] [int] NOT NULL,
	[Platita] [bit] NOT NULL,
 CONSTRAINT [PK_Plata] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 8/28/2021 1:43:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nume] [nvarchar](50) NOT NULL,
	[Prenume] [nvarchar](50) NOT NULL,
	[CNP] [nvarchar](50) NOT NULL,
	[IDFacultate] [int] NOT NULL,
	[IDTipTaxa] [int] NOT NULL,
	[IDCamera] [int] NULL,
 CONSTRAINT [PK_Student] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipTaxa]    Script Date: 8/28/2021 1:43:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipTaxa](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nume] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TipTaxa] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Camera]  WITH CHECK ADD  CONSTRAINT [FK_Camera_Camin] FOREIGN KEY([IDCamin])
REFERENCES [dbo].[Camin] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Camera] CHECK CONSTRAINT [FK_Camera_Camin]
GO
ALTER TABLE [dbo].[Plata]  WITH CHECK ADD  CONSTRAINT [FK_Plata_Student] FOREIGN KEY([IDStudent])
REFERENCES [dbo].[Student] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Plata] CHECK CONSTRAINT [FK_Plata_Student]
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD  CONSTRAINT [FK_Student_Camera] FOREIGN KEY([IDCamera])
REFERENCES [dbo].[Camera] ([ID])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [FK_Student_Camera]
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD  CONSTRAINT [FK_Student_Facultate] FOREIGN KEY([IDFacultate])
REFERENCES [dbo].[Facultate] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [FK_Student_Facultate]
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD  CONSTRAINT [FK_Student_TipTaxa] FOREIGN KEY([IDTipTaxa])
REFERENCES [dbo].[TipTaxa] ([ID])
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [FK_Student_TipTaxa]
GO
USE [master]
GO

INSERT INTO dbo.TipTaxa
values ('Buget')

INSERT INTO dbo.TipTaxa
values ('Taxa')

INSERT INTO dbo.TipTaxa
values ('Scutit partial')



INSERT INTO dbo.Facultate
values ('Matematica si informatica')

INSERT INTO dbo.Facultate
values ('Medicina')

INSERT INTO dbo.Facultate
values ('Drept')



INSERT INTO dbo.Camin
values (1,120)

INSERT INTO dbo.Camin
values (4,180)

INSERT INTO dbo.Camin
values (8,160)

INSERT INTO dbo.Camera
values (1,1)

INSERT INTO dbo.Camera
values (2,1)

INSERT INTO dbo.Camera
values (3,1)








INSERT INTO dbo.Student
values ('Popa','Ana','2568124091',1,1,4)

INSERT INTO dbo.Student
values ('Enache','Tudor','1836015824',3,2,7)


INSERT INTO dbo.Plata
values (120,'Iulie',1,1)

INSERT INTO dbo.Plata
values (120,'August',1,0)

INSERT INTO dbo.Plata
values (120,'Iunie',1,0)




INSERT INTO dbo.Admin
values ('admin','admin')


